extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Richard Han

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Hi, my name is Richard Han, I am 22 years old, and I live in Christchurch, New Zealand.
            | I am currently an undergraduate at the University of Canterbury about to take on his final year majoring in Computer Science.
            | I am also in the process of becoming a full stack JavaScript developer.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li CSS
          li HTML
          li jQuery
          li AJAX
          li HTTP
          li Fetch API
          li Node.js
          li npm
          li Express
          li Pug
        h6 Contact Info

        ul
          li 03-123-4567
          li richard_han@live.com

        a.button.expanded(href='https://github.com/rlyhan') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
